<div class="container">
    <button class="btn btn-primary" (click)="addNewEmployeeBtn()">Add Employee</button>
    <br><br>
    <div class="jumbotron" *ngIf="newEmployeeClicked">
        <form>
            <div class="form-group">
                <label for="firstName">Name</label>
                <input type="text" id="firstName" class="form-control">
            </div>
            <div class="form-group">
                <label for="position">Position</label>
                <input type="text" id="position" class="form-control">
            </div>
            <div class="form-group">
                <button class="btn btn-primary">Add</button>
            </div>
        </form>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let emp of employees; let i =index">
                <td>{{emp.name}}</td>
                <td *ngIf="editClick"><input type="text"></td>
                <td>{{emp.position}}</td>
                <td *ngIf="editClick"><input type="text"></td>
                <th>
                    <a href="">
                    <span class="glyphicon glyphicon-pencil" (click)="edit()"></span>
                </a>
                </th>
                <th>
                    <a href="">
                    <span class="glyphicon glyphicon-remove" (click)="delete(i)"></span>
                </a>
                </th>
            </tr>
        </tbody>
    </table>
</div>